<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>LinkLock</string>
    <key>CFBundleIdentifier</key>
    <string>xyz.turannul.LinkLock</string>
    <key>CFBundleDisplayName</key>
    <string>LinkLock</string>
    <key>CFBundleVersion</key>
    <string>0.0.1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.1</string>
    <key>CFBundleExecutable</key>
    <string>LinkLock</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Bluetooth is required to use LinkLock</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>LinkLock observer requires Bluetooth in order to monitor device</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024 Turann_. All rights reserved.</string>
</dict>
</plist>
